<div id="container">
  <h1>Crime Eye</h1>

  <h3>Introduction to CrimeEye</h3>
  <p>Crime Eye is a crime tracking website application that allows users to see crime data in local areas of the UK. Crime data is collected from  <a href="https://data.police.uk/docs/%22%3EPoliceAPI"></a>, our map is called from
  <a href="https://docs.mapbox.com/api/overview/%22%3EMapBoxAPI"></a>, and our news feed comes from <a href="https://developer.twitter.com/en/docs/twitter-api%22%3ETwitter"></a> to provide real-time related news.</p>

  <h3>General Use</h3>
  <p>Crime data can be gathered by either searching for a specific location using the geocoder search bar or by using your local coordinates via the geolocator. Markers are generated on the map which represent unique crime records and are interactable via clicking on them.
  Information related to this record will be displayed in a popup information box containing properties such as the type of crime, location, coordinates, and the outcome status.</p>

  <h3>Why use CrimeEye?</h3>
  <p>CrimeEye is designed with the intention of allowing users to locally search their area or destination to see which areas are best avoided. We provide data analysis on local areas that show which types of crimes are more
  prevalent than others, and will include the percentage of specific crimes, how often a specific crime occurs, and the general outcomes of the crimes in a local area.</p>
</div>
