<div id="map"></div>
<button class="statsOpenbtn" onclick="openStats()">❯</button>
<div id="slideStats" class="statsbar">
  <div class="content">
    <div class="statsClose">
      <a href="javascript:void(0)" class="statsClosebtn" onclick="closeStats()">❰</a>
    </div>
    <div id="canvasWrapper"></div>
    <div id="myDate" class="statsDate"></div>
  </div>
</div>

<%= render "shared/loader" %>
<%= render "shared/mapscript" %>
